@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    color: #FFF;
}

body {
    background-image: linear-gradient(45deg, #194224, #182740);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #102624;
    width: 32vw;
    padding: 4%;
    border-radius: 16px;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 80vw;
    }
  }

.container h1 {
    margin-bottom: 8%;
    text-align: center;
}

form .input {
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 8px;
}

.textfield {
    margin-bottom: 10%;
}

.textfield input {
    margin-top: 4%;
    background-color: #193532;
}

.textfield input:focus {
    outline: solid 1px #FFF;
}

.submit {
    background-color: #FFF;
    color: #102624;
    transition: all .2s
}

.submit:hover, .submit:focus {
    background-color: #071211;
    color: #FFF;
    outline: none;
}

.submit:active {
    background-color: #194224;
    color: #FFF;
}

.error {
    background-color: #851d1c;
    border-radius: 8px;
    padding: 4%;
    margin-bottom: 4%;
}

.registered {
    background-color: #58f583;
    color: #071211;
    border-radius: 8px;
    padding: 4%;
    margin-bottom: 4%;
}

.change-page {
    margin-top: 4%;
}

.change-page a {
    color: #58f583;
    text-decoration: underline;
}